<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472468283055-5vepq9actfcm7p0vgm7it41ed3plkbfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472468283055-5vepq9actfcm7p0vgm7it41ed3plkbfn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472468283055-qu9kup7qd1e5sgv87edugjb5mo7nj3a0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyF07JEQw8cUANHV9U-TqfrR9biaZibd0</string>
	<key>GCM_SENDER_ID</key>
	<string>472468283055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.o1298098.movies</string>
	<key>PROJECT_ID</key>
	<string>flutter-movie-d113d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-movie-d113d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472468283055:ios:0cb834f6696c330e01fe5a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-movie-d113d.firebaseio.com</string>
</dict>
</plist>